.card {
    display: flex;
    flex-direction: column;
    border: 1px solid #cacaca;
    border-radius: 0.5em;
    padding: var(--padding);
    min-width: 150px;
    max-width: 200px;
}

.card__title {
    margin-top: 0;
}

.card__link {
    align-self: flex-end;
}

    .card__link--red {
        color: var(--color-text-link-red);
    }

    .card__link--red:hover {
        color: var(--color-text-link-red-hover);
    }

.cards-list {
    display: flex;
    gap: var(--padding);
    list-style-type: none;
    padding-left: 0;
}