:root {
    --ff: Inter, Avenir, Helvetica, Arial, sans-serif;
    --fs-base: 16px;
    --lh-base: 24px;
    --fw400: 400;
    --fw500: 500;

    --color-text-default: rgba(255, 255, 255, 0.87);
    --color-text-link-default: #646cff;
    --color-text-link-default-hover: #535bf2;
    --color-text-link-red: #c13535;
    --color-text-link-red-hover: #9f2b2b;

    --color-background: #242424;

    --padding: 1rem;
    --padding-2x: 2rem;
}